.row-about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 90%;
  height: 30rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: inherit;
  width: 80%;
  margin: 1rem auto;
}
li {
  margin: 0.5rem auto;
}
li>span {
  border: 1px solid #052369;
  padding: 0.3rem 0.5rem;
  margin: auto 0.5rem;
  border-radius: 4px;
}

li>span:hover {
  border: 2px solid #052369;
}

@media (min-width: 768px) { 
  .row-about-me {
    width: 70%;
  }
}