.header-education {
  padding-top: 5rem;
}
.row-education {
  margin: auto;
  padding-bottom: 5rem;
}
.education {
  margin-top: 1rem;
}
.institution {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .institution {
    height: 7rem;
  }
}