.header-experience {
  padding-top: 5rem;
}

.row-experience {
  margin: auto;
  padding-bottom: 5rem;
}

.experience{
  margin-top: 1rem;
}

.company {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .company {
    height: 7rem;
  }
}