.row-profile {
  align-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.img-profile {
  border-radius: 50%;
  width: 70%;
  margin-bottom: 1rem;
}

.icon-profile {
  width: 2rem;
  margin: 0.5rem;
}

.icon-social {
  filter: grayscale(100%);
  transition: all 0.5s ease;
  width: 2rem;
}

.icon-social:hover {
  filter: grayscale(0%);
}

.info-profile {
  margin: 1rem auto;
}
.info-profile>span {
  font-size: 1rem;
}
.col-info {
  margin: auto;
}
.link-email{
  color: black;
}
@media (min-width: 768px) { 
  .row-profile {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}