.section-project {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
}

.info-project {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-projects {
  padding-top: 5rem;
}

.link {
  margin: 1rem;
}

.row-project {
  margin: 3rem auto;
}

.row-project:last-child {
  padding-bottom: 5rem;
}