.section-project {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
}

.img-project {
  max-width: 20rem;
  width: 50%;
}

.header-projects {
  padding-top: 5rem;
}

.link {
  margin: 1rem;
}

.row-projects {
  padding-bottom: 5rem;
}