.slide-container {
  cursor: pointer;
  position: relative;
}

.slide-enter {
  opacity: 0;
}

.slide-enter.slide-enter-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

.slide-exit {
  display: none;
}

.slide-exit-done {
  opacity: 0;
}

.img-slide {
  max-width: 19.6rem;
  max-height: 10.8rem;
  position: absolute;
  z-index: 1;
  left: 6.6rem;
  top: 6rem;
}

.img-slide-mobile {
  max-width: 100%;
  max-height: 20rem;
}

.img-screen {
  position: relative;
  width: 100%;
}